* {
    box-sizing: border-box;
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

.nodeco {
    text-decoration: none;
}

/* width */

/* padding */

.padding-top-120 {
    padding-top: 120px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

/* font-size */

.font-sm {
    font-size: 0.8rem;
}

.border-break {
    width: 20%;
    display: inline-block;
    border-radius: 5px;
    margin: 0px 10px;
}

.border-white {
    border: 2px solid white;
}

.border-black {
    border: 2px solid black;
}

/* colors */

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.bg-kindablue {
    background-color: #3a546d;
}

.bg-endfooter {
    background-color: #2c3e50;
}

.color-aquamarine {
    color: #1abc9c;
}

.bg-aquamarine {
    background-color: #1abc9c;
}